.homeHero {
    background: radial-gradient(50% 50% at 50% 50%, rgba(59, 204, 203, 0.71) 0%, #198ED2 100%);
    position: relative;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5rem;
}

.button_search,
.button_python {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.button_search {
    background-color: white;
    color: #018EDE;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border: 2px solid white;
}

.button_python {
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
}

.left {
    color: white;
}

.text {
    width: 90%;
}

.enquiry,
.chat {
    position: absolute;
}

.title {
    font-size: 52px;
}

.text {
    font-size: 30px;
}

.button_search {
    margin-right: 2rem;
}

.enquiry {
    right: 0;
    top: 5rem;
    background-color: white;
    transform: rotate(270deg);
    transform-origin: bottom right;
    padding: 0.5rem 2rem;
    font-size: 30px;
    cursor: pointer;
    color: #018EDE
}

.chat {
    bottom: 3rem;
    right: 7rem;
    cursor: pointer;
    background-color: #018EDE;
    color: white;
    padding: 1em;
    border-radius: 2em;
    width: 4em;
    text-align: center;
    border: 1px solid white;
}
.chat h1{
    margin:0;
    font-weight: 500;
    font-size: 1.3em;
}

.chat img {
    height: 80px;
}

.right img {
    height: 800px;
}

@media only screen and (max-width: 1000px) {
    .content {
        flex-direction: column;
        text-align: center;
        padding: 5rem;
        padding-bottom: 0;
    }

    .text {
        padding: 0;
        margin: auto;
        margin-bottom: 2rem;
        font-size: 12px;
    }

    .title {
        font-size: 25px;
    }

    .chat img {
        height: 30px;
    }

    .right img {
        height: 300px;
    }

    .button_search,
    .button_python {
        padding: 0.2rem 0.5rem;
        font-size: 12px;
    }

    .button_search {
        margin-right: 0.5rem;
    }

    .enquiry {
        font-size: 12px;
    }

    .chat {
        right: 20px;
    }

}