.outerDiv{
    padding:2em 1em;
    padding-bottom: 5em;
}

.headingDiv{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding:auto auto;
}
.headingDiv h1{
    color:white;
    white-space: nowrap;
    font-size: 3rem;
}
.line{
    width: 30%;
    height: 0.3em;
    background-color: #fff;
    border-radius: 0.5em;
}
.resultCard{
    display:flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap:2em;
}