.HomeBulleton {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left img {
    height: 250px;
    margin: -50px;
}

.left .first {
    margin-top: -20px;
}

.right {
    position: relative;
}

.content {
    color: white;
    position: absolute;
    top: 3rem;
    left: 6rem;
    font-size: 1.5rem;
    font-weight: 100;
}