.HomeBulleton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem;
    color:white

}

.container {
    background: linear-gradient(90deg, #79E1FF 0%, #008EDE 100%);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

.left {
    position: relative;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: top;
    animation-timing-function: smooth;
    overflow-y: hidden;
    height: 25em;
}

@keyframes move {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 100px;
    }
}

.bullet {
    position: relative;
    color: black;
    margin: 2rem 0;
    font-size: 25px;
}